<ion-side-menus enable-menu-with-back-views="false" data-componentid="side-menu-app">

    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="right" ng-show="rightMenuActive"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="section-app"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" id="side-menu-app-left">
        <ion-header-bar class="bar-stable">
            <div class="title">ECOFILM FESTIVAL</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
          <div class="list">
            <a class="item" ng-href="#/app/welcome" menu-toggle="left">welcome</a>
            <a ng-repeat="item in listEditions | orderBy:'year' : true" class="item" ng-click="goEdition(item)" menu-toggle="left">
              {{item|json}}
            </a>
            <a class="item" ng-href="#/app/sponsor" menu-toggle="left">Patrocinador</a>
            <a class="item" ng-href="#/app/feed" menu-toggle="left">Feed</a>
          </div>
        </ion-content>
    </ion-side-menu>

    <ion-side-menu side="right" is-enabled="rightMenuActive">
      <ion-nav-view name="right-menu"></ion-nav-view>
    </ion-side-menu>

</ion-side-menus>
