<ion-view view-title="Ecofilm Festival">
  <ion-content class="padding">
    <h1>welcome</h1>
    <ul class="list" ng-repeat="sponsor in listSponsorHome">
      <li class="item">
        {{sponsor.Descripcion_ES}}
      </li>
      <li class="item" ng-repeat="item in sponsor.ListSponsor">
        <pre>{{item|json}}</pre>
      <li>
    </ul>
  </ion-content>
</ion-view>
