<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab
    title="Festival {{activeEdition.year}} {{activeEdition.selOf}} "
    icon-off="ion-ios-pulse"
    icon-on="ion-ios-pulse-strong"
    href="#/app/{{activeEdition.year}}/festival">
    <ion-nav-view name="tab-festival"></ion-nav-view>
  </ion-tab>

  <ion-tab
    title="Selección Oficial"
    icon-off="ion-ios-chatboxes-outline"
    icon-on="ion-ios-chatboxes"
    href="#/app/{{activeEdition.year}}/sel-of"
    hidden="{{!activeEdition.selOf}}"
    >
    <ion-nav-view name="tab-sel-of"></ion-nav-view>
  </ion-tab>

  <ion-tab
    title="Jurado"
    icon-off="ion-ios-gear-outline"
    icon-on="ion-ios-gear"
    href="#/app/{{activeEdition.year}}/jury"
    hidden="{{!activeEdition.jury}}"
    >
    <ion-nav-view name="tab-jury"></ion-nav-view>
  </ion-tab>

  <ion-tab
    title="Programa"
    icon-off="ion-ios-pulse"
    icon-on="ion-ios-pulse-strong"
    href="#/app/{{activeEdition.year}}/schedule"
    hidden="{{!activeEdition.schedule}}"
    >
    <ion-nav-view name="tab-schedule"></ion-nav-view>
  </ion-tab>

  <ion-tab
    title="Ganadores"
    icon-off="ion-ios-pulse"
    icon-on="ion-ios-pulse-strong"
    href="#/app/{{activeEdition.year}}/winners"
    hidden="{{!activeEdition.winners}}"
    >
    <ion-nav-view name="tab-winners"></ion-nav-view>
  </ion-tab>

</ion-tabs>
