<ion-view view-title="Ecofilm Festival">
  <ion-content class="padding">
    <h1>selccion oficial</h1>
    <ul class="list">
      <li ng-repeat="item in data.SeleccionOficial" class="item">
        <pre>{{item | json}}</pre>
      </li>
    </ul>
  </ion-content>
</ion-view>
