<ion-view view-title="{{activeEdition.edition}}" hide-back-button="true">
  <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon"
            menu-toggle="left">
        </button>
    </ion-nav-buttons>
  <ion-content class="padding">
    <img ng-src="{{data.Logotipo_ES}}"/>
    <h2>{{data.Nombre_ES}}</h2>
    <h3>{{data.Tema_ES}}</h3>
    <p>{{data.Info_ES}}</p>
    <hr/>
    <a ng-href="{{data.Cartel_ES}}" target="_blank">
      <img ng-src="{{data.Cartel_ES}}"/>
    </a>
    <hr/>
    <a ng-href="{{data.BasesConvocatoria_ES}}" target="_blank">Bases Convocatoría</a>
    <hr/>
    <a ng-href="{{data.Logotipo_ES}}" target="_blank">Logotipo</a>
    <hr/>
    <a ng-href="{{data.Teaser_ES}}" target="_blank"> Teaser </a>
    <hr/>
    <a ng-href="{{data.ManualGrafico_ES}}" target="_blank">Manual Gráfico </a>
    <hr/>
  </ion-content>
</ion-view>
