<ion-view view-title="Ecofilm Festival">
  <ion-content class="padding">
    <h1>winners</h1>
    <ul class="list">
      <li class="item" ng-repeat="item in data.Ganadores">
        {{item | json}}
      </li>
    </ul>
    {{data.Ganadores}}
  </ion-content>
</ion-view>
