<ion-view view-title="Ecofilm Festival">
  <ion-content class="padding">
    <h1>Jurado</h1>
    <ul class="list">
      <li ng-repeat="item in data.Jurado" class="item">
        <pre>{{item | json}}</pre>
      </li>
    </ul>
    <pre>{{data.Jurado | json}}</pre>
  </ion-content>
</ion-view>
